.font-bold { font-family: $font-bold; }

.font-book { font-family: $font-normal; }

.font-light { font-family: $font-light; }

.font-thin { font-family: $font-thin; }

.font-med, .font-medium { font-family: $font-medium; }

.font-serif { font-family: $font-serif; }

.font-serif-italic, .font-serif.italic { font-family: $font-serif-italic; }