.col-xs-fifth, .col-xs-1-fifth, .col-xs-2-fifth, .col-xs-3-fifth, .col-xs-4-fifth, .col-xs-5-fifth, .col-sm-fifth, .col-sm-1-fifth, .col-sm-2-fifth, .col-sm-3-fifth, .col-sm-4-fifth, .col-sm-5-fifth, .col-md-fifth, .col-md-1-fifth, .col-md-2-fifth, .col-md-3-fifth, .col-md-4-fifth, .col-md-5-fifth, .col-lg-fifth, .col-lg-1-fifth, .col-lg-2-fifth, .col-lg-3-fifth, .col-lg-4-fifth, .col-lg-5-fifth {
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  position: relative;
}

.col-xs-fifth, .col-xs-1-fifth, .col-xs-2-fifth, .col-xs-3-fifth, .col-xs-4-fifth, .col-xs-5-fifth {
  float: left;
}

.col-xs-fifth, .col-xs-1-fifth {
  width: 20%;
}

.col-xs-2-fifth {
  width: 40%;
}

.col-xs-3-fifth {
  width: 60%;
}

.col-xs-4-fifth {
  width: 80%;
}

.col-xs-5-fifth {
  width: 100%;
}

@media (min-width: 768px) {
  .col-sm-fifth, .col-sm-1-fifth, .col-sm-2-fifth, .col-sm-3-fifth, .col-sm-4-fifth, .col-sm-5-fifth {
    float: left;
  }
  .col-sm-fifth, .col-sm-1-fifth {
    width: 20%;
  }
  .col-sm-2-fifth {
    width: 40%;
  }
  .col-sm-3-fifth {
    width: 60%;
  }
  .col-sm-4-fifth {
    width: 80%;
  }
  .col-sm-5-fifth {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .col-md-fifth, .col-md-1-fifth, .col-md-2-fifth, .col-md-3-fifth, .col-md-4-fifth, .col-md-5-fifth {
    float: left;
  }
  .col-md-fifth, .col-md-1-fifth {
    width: 20%;
  }
  .col-md-2-fifth {
    width: 40%;
  }
  .col-md-3-fifth {
    width: 60%;
  }
  .col-md-4-fifth {
    width: 80%;
  }
  .col-md-5-fifth {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .col-lg-fifth, .col-lg-1-fifth, .col-lg-2-fifth, .col-lg-3-fifth, .col-lg-4-fifth, .col-lg-5-fifth {
    float: left;
  }
  .col-lg-fifth, .col-lg-1-fifth {
    width: 20%;
  }
  .col-lg-2-fifth {
    width: 40%;
  }
  .col-lg-3-fifth {
    width: 60%;
  }
  .col-lg-4-fifth {
    width: 80%;
  }
  .col-lg-5-fifth {
    width: 100%;
  }
}