/**
  Max Lines
 */

.max-lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  &.one-line {
    -webkit-line-clamp: 1;
  }
  &.two-lines {
    -webkit-line-clamp: 2;
  }
  &.three-lines {
    -webkit-line-clamp: 3;
  }
  &.four-lines {
    -webkit-line-clamp: 4;
  }
  &.five-lines {
    -webkit-line-clamp: 5;
  }
}