/**
  No Border
 */

.no-border {
  border: none !important;
}

.no-border-b {
  border-bottom: none !important;
}

.no-border-l {
  border-left: none !important;
}

.no-border-r {
  border-right: none !important;
}

.no-border-t {
  border-top: none !important;
}

@include large-screens {
  .no-border-lg {
    border: none !important;
  }
  .no-border-lg-b {
    border-bottom: none !important;
  }
  .no-border-lg-l {
    border-left: none !important;
  }
  .no-border-lg-r {
    border-right: none !important;
  }
  .no-border-lg-t {
    border-top: none !important;
  }
}


@include medium-screens {
  .no-border-md {
    border: none !important;
  }
  .no-border-md-b {
    border-bottom: none !important;
  }
  .no-border-md-l {
    border-left: none !important;
  }
  .no-border-md-r {
    border-right: none !important;
  }
  .no-border-md-t {
    border-top: none !important;
  }
}


@include small-screens {
  .no-border-sm {
    border: none !important;
  }
  .no-border-sm-b {
    border-bottom: none !important;
  }
  .no-border-sm-l {
    border-left: none !important;
  }
  .no-border-sm-r {
    border-right: none !important;
  }
  .no-border-sm-t {
    border-top: none !important;
  }
}


@include extra-small-screens {
  .no-border-xs {
    border: none !important;
  }
  .no-border-xs-b {
    border-bottom: none !important;
  }
  .no-border-xs-l {
    border-left: none !important;
  }
  .no-border-xs-r {
    border-right: none !important;
  }
  .no-border-xs-t {
    border-top: none !important;
  }
}