/**
  Opacity
 */
.o-0 { opacity: .0; }

.o-10 { opacity: .1; }

.o-20 { opacity: .2; }

.o-30 { opacity: .3; }

.o-40 { opacity: .4; }

.o-50 { opacity: .5; }

.o-60 { opacity: .6; }

.o-70 { opacity: .7; }

.o-80 { opacity: .8; }

.o-90 { opacity: .9; }

.o-100 { opacity: 1; }

.bkg-w-0 { background-color: rgba($color-white, 0) !important; }

.bkg-w-10 { background-color: rgba($color-white, .1) !important; }

.bkg-w-20 { background-color: rgba($color-white, .2) !important; }

.bkg-w-30 { background-color: rgba($color-white, .3) !important; }

.bkg-w-40 { background-color: rgba($color-white, .4) !important; }

.bkg-w-50 { background-color: rgba($color-white, .5) !important; }

.bkg-w-60 { background-color: rgba($color-white, .6) !important; }

.bkg-w-70 { background-color: rgba($color-white, .7) !important; }

.bkg-w-80 { background-color: rgba($color-white, .8) !important; }

.bkg-w-90 { background-color: rgba($color-white, .9) !important; }

.bkg-w-100 { background-color: rgba($color-white, 1) !important; }

.bkg-b-0 { background-color: rgba($color-black, 0) !important; }

.bkg-b-10 { background-color: rgba($color-black, .1) !important; }

.bkg-b-20 { background-color: rgba($color-black, .2) !important; }

.bkg-b-30 { background-color: rgba($color-black, .3) !important; }

.bkg-b-40 { background-color: rgba($color-black, .4) !important; }

.bkg-b-50 { background-color: rgba($color-black, .5) !important; }

.bkg-b-60 { background-color: rgba($color-black, .6) !important; }

.bkg-b-70 { background-color: rgba($color-black, .7) !important; }

.bkg-b-80 { background-color: rgba($color-black, .8) !important; }

.bkg-b-90 { background-color: rgba($color-black, .9) !important; }

.bkg-b-100 { background-color: rgba($color-black, 1) !important; }