/**
  Text Align
 */
@include large-screens {
  .lg-text-left {
    text-align: left;
  }
  .lg-text-center {
    text-align: center;
  }
  .lg-text-right {
    text-align: right;
  }
}


@include medium-screens {
  .md-text-left {
    text-align: left;
  }
  .md-text-center {
    text-align: center;
  }
  .md-text-right {
    text-align: right;
  }
}


@include small-screens {
  .sm-text-left {
    text-align: left;
  }
  .sm-text-center {
    text-align: center;
  }
  .sm-text-right {
    text-align: right;
  }
}


@include extra-small-screens {
  .xs-text-left {
    text-align: left;
  }
  .xs-text-center {
    text-align: center;
  }
  .xs-text-right {
    text-align: right;
  }
}