/**
  Table
 */

table th {
  color: rgba($color-black, 0.4);
  font-weight: normal;
}

.table > {
  thead > tr > th {
    border-bottom: 2px solaid lighten($color-light-gray, 10%);
    padding: 4px;
  }
  tbody > tr > {
    td, th {
      border-top: 1px solid lighten($color-light-gray, 10%);
    }
  }
  tfoot > tr > {
    td, th {
      border-top: 1px solid lighten($color-light-gray, 10%);
    }
  }
  thead > tr > {
    td, th {
      border-top: 1px solid lighten($color-light-gray, 10%);
    }
  }
}

.table-hover > tbody > tr:hover {
  background-color: rgba($color-black, 0.018);
}