.nav-underlined {
  > li {
    > a {
      border-bottom: 2px solid transparent;
      color: #aaaeaf;
      display: inline-block;
      float: left;
      text-decoration: none;
      &:hover, &:focus {
        background-color: rgba(0, 0, 0, 0.025);
        border-bottom: 2px solid $color-theme-primary;
        color: $color-theme-primary;
      }
    }
    &.active > a {
      color: $color-theme-primary;
      background: none;
      border-bottom: 2px solid $color-theme-primary;
      &:focus, &:hover {
        color: $color-theme-primary;
        background: none;
        border-bottom: 2px solid $color-theme-primary;
      }
    }
  }
  &.nav-centered {
    display: inline-block;
  }
}

.nav-underlined-reversed.nav-centered {
  display: inline-block;
}

.nav-underlined {
  &.nav-centered > li {
    display: inline-flex;
  }
  > li > a {
    -webkit-transition: all ease-in-out .125s;
    -moz-transition: all ease-in-out .125s;
    -ms-transition: all ease-in-out .125s;
    -o-transition: all ease-in-out .125s;
    transition: all ease-in-out .125s;
  }
}

@include extra-small-screens {
  .nav-underlined > li > a.p-nav-sm {
    padding: 2px 8px;
  }
}