/**
  Alert
 */
.alert-danger {
  color: #a94442;
  background-color: #eec5c5;
  border-color: #e17b7b;
}

.alert-info {
  color: #005c84;
  background-color: #c5eaf2;
  border-color: #7bd7ed;
}

.alert-success {
  color: #3c763d;
  background-color: #deebd2;
  border-color: #b9db9c;
}

.alert-warning {
  color: #9d5025;
  background-color: #efd7ca;
  border-color: #e5a987;
}