.badge-danger { background-color: $color-red; }

.badge-default { background-color: rgba(0, 0, 0, .1); }

.badge-info { background-color: $color-dark-blue; }

.badge-primary { background-color: $color-blue; }

.badge-success { background-color: $color-green; }

.badge-warning { background-color: $color-orange; }

.badge-white { background-color: $color-white; color: $color-blue; }