/*
  Background Colors
 */
.bkg-black { background-color: $color-black !important; background-image: none; }

.bkg-blue, .bkg-goal, .bkg-seminars { background-color: $color-blue !important; background-image: none; }

.bkg-drk-blue, .bkg-dark-blue { background-color: $color-dark-blue !important; background-image: none; }

.bkg-brown, .bkg-study-club { background-color: $color-study-club !important; background-image: none; }

.bkg-faculty, .bkg-faculty-club { background-color: $color-faculty-club !important; background-image: none; }

.bkg-gray { background-color: $color-gray !important; background-image: none; }

.bkg-drk-gray, .bkg-dark-gray { background-color: $color-dark-gray !important; background-image: none; }

.bkg-lt-gray, .bkg-light-gray { background-color: $color-light-gray !important; background-image: none; }

.bkg-xlt-gray, .bkg-xlight-gray { background-color: $color-xlt-gray !important; background-image: none; }

.bkg-green, .bkg-good, .bkg-success { background-color: $color-green !important; background-image: none; }

.bkg-neon, .bkg-upgrade { background-color: $color-neon !important; background-image: none; }

.bkg-online, .bkg-online-ed { background-color: $color-online-ed !important; background-image: none; }

.bkg-orange, .bkg-warning { background-color: $color-orange !important; background-image: none; }

.bkg-patient-ed { background-color: $color-patient-ed !important; background-image: none; }

.bkg-practice-solutions { background-color: $color-practice-solutions !important; background-image: none; }

.bkg-red, .bkg-danger { background-color: $color-red !important; background-image: none; }

.bkg-teal, .bkg-workshops { background-color: $color-workshops !important; background-image: none; }

.bkg-team, .bkg-team-ed { background-color: $color-team-ed !important; background-image: none; }

.bkg-white { background-color: $color-white !important; background-image: none; }

.bkg-yellow, .bkg-improvement { background-color: $color-yellow !important; background-image: none; }