/**
  Font Colors
 */
.color-black { color: $color-black !important; }

.color-blue, .color-goal, .color-seminars { color: $color-blue !important; }

.color-drk-blue, .color-dark-blue { color: $color-dark-blue !important; }

.color-brown, .color-study-club { color: $color-study-club !important; }

.color-faculty, .color-faculty-club { color: $color-faculty-club !important; }

.color-gray { color: $color-gray !important; }

.color-drk-gray, .color-dark-gray { color: $color-dark-gray !important; }

.color-lt-gray, .color-light-gray { color: $color-light-gray !important; }

.color-xlt-gray { color: $color-xlt-gray !important; }

.color-green, .color-good, .color-success { color: $color-green !important; }

.color-neon, .color-upgrade { color: $color-neon !important; }

.color-online, .color-online-ed { color: $color-online-ed !important; }

.color-orange, .color-warning { color: $color-orange !important; }

.color-patient-ed { color: $color-patient-ed !important; }

.color-practice-solutions { color: $color-practice-solutions !important; }

.color-red, .color-danger { color: $color-red !important; }

.color-teal, .color-workshops { color: $color-workshops !important; }

.color-team, .color-team-ed { color: $color-team-ed !important; }

.color-white { color: $color-white !important; }

.color-yellow, .color-improvement { color: $color-yellow !important; }