/**
  Course Thumb
 */
.course-thumb .bookmark {
  text-shadow: 0 0 5px rgba(0, 0, 0, .25);
}

.course-thumb figure {
  overflow: hidden;
  position: relative;
}

.course-thumb figure:before {
  color: #fff;
  content: "\f04b";
  font-family: FontAwesome;
  font-size: 30px;
  left: 50%;
  margin-left: -2px;
  margin-top: -18px;
  opacity: .5;
  pointer-events: none;
  position: absolute;
  top: 50%;
  text-shadow: 0 0 5px rgba(0, 0, 0, .25);
  z-index: 1;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}

.course-thumb figure:hover:before {
  opacity: 1;
  text-shadow: 0 0 5px rgba(0, 0, 0, .5);
  -webkit-transform: scale(1.5, 1.5);
  -ms-transform: scale(1.5, 1.5);
  transform: scale(1.5, 1.5);
}

.course-thumb figure img {
  -webkit-backface-visibility: hidden;
  -webkit-transition: all ease-in-out 2s;
  -moz-transition: all ease-in-out 2s;
  -ms-transition: all ease-in-out 2s;
  -o-transition: all ease-in-out 2s;
  transition: all ease-in-out 2s;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

.course-thumb:hover figure img {
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

.course-thumb .round-icon {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 2;
}

.course-thumb figure:before {
  -webkit-transition: all ease-in-out .125s;
  -moz-transition: all ease-in-out .125s;
  -ms-transition: all ease-in-out .125s;
  -o-transition: all ease-in-out .125s;
  transition: all ease-in-out .125s;
}

@include extra-small-screens {
  .course-thumb figure:before {
    display: none;
  }
}