.hero small {
  font-size: 65%;
}

.hero-play-btn {
  cursor: pointer;
  opacity: .5;
  -ms-transform: scale(.95, .95);
  -webkit-transform: scale(.95, .95);
  transform: scale(.95, .95);
}

.hero-play-btn:hover {
  opacity: 1;
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

.hero-video {
  position: relative;
  overflow: hidden;
}

.hero-video video {
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 100%;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.hero-video .video-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.hero-play-btn {
  -webkit-transition: all ease-in-out .25s;
  -moz-transition: all ease-in-out .25s;
  -ms-transition: all ease-in-out .25s;
  -o-transition: all ease-in-out .25s;
  transition: all ease-in-out .25s;
}