/**
  Progress Bar
 */

.progress {
  background-color: rgba($color-black, 0.025);
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 2px rgba($color-black, 0.08);
  box-shadow: inset 0 1px 2px rgba($color-black, 0.08);
  &.progress-sm {
    height: 10px;
  }
  &.progress-xs {
    height: 3px;
  }
}

.progress-bar {
  background-color: $color-blue;
}

.progress-bar-success {
  background-color: $color-green;
}

.progress-bar-info {
  background-color: $color-dark-blue;
}

.progress-bar-warning {
  background-color: $color-orange;
}

.progress-bar-danger {
  background-color: $color-red;
}